:root{
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario:#0097a7;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}   
body{
    font-family: 'Krub', sans-serif;
    min-height: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem;
}
h1,h2,h3{
    margin: 0;
}
.site-header{
    background-color: white;
}
.site-header nav{
    max-width:1200px;
    margin: 0 auto;
    padding: 2rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .site-header nav{
        justify-content: space-between;
        flex-direction: row;
    }
}
.site-header nav a{
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}
.site-header nav a:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .site-header nav a{
        margin-bottom: 0;
    }
}
.hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::after{
    content: '';
    background-color:rgba(0,0,0, .7);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}
.contenedor-hero{
    z-index: 1;
    color:white;
    position: relative;
    text-align: center;
}
.contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
}
.boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: 1.5rem;
}